<footer class="bg-gray-100 border-t border-gray-200 dark:bg-gray-900 dark:border-gray-800">
    <div class="px-6 py-4">
        <div class="flex justify-center items-center">
            <div>
                <p class="text-sm items-center text-gray-500 dark:text-gray-400">&copy; @DateTime.Now.Year - Isuzu Hicom Sdn Bhd - All rights reserved</p>
            </div>
        </div>
    </div>
</footer>